@import "tailwindcss";

:root {
  --primary: hsl(260, 100, 60);

  --background: hsl(0, 0%, 100%);
  --background-t: hsla(0, 0%, 100%, 0.4);
  --background-1: hsl(0, 0%, 96%);
  --background-2: hsl(0, 0%, 93%);
  --background-3: hsl(0, 0%, 90%);
  --background-t-3: hsla(0, 0%, 88%, 0.8);

  --foreground: hsl(0, 0%, 10%);
  --foreground-1: hsl(0, 0%, 20%);
  --foreground-2: hsl(0, 0%, 25%);

  --success-text: hsl(160, 100%, 25%);
  --success-border: hsl(160, 100%, 30%);
  --success-bg: hsl(160, 30%, 90%);

  --danger-text: hsl(0, 70%, 50%);
  --danger-border: hsl(0, 70%, 55%);
  --danger-bg: hsl(0, 70%, 90%);

  --warning-text: hsl(32, 95%, 40%);
  --warning-border: hsl(32, 95%, 45%);
  --warning-bg: hsl(32, 70%, 90%);

  --info-text: hsl(220, 90%, 40%);
  --info-border: hsl(220, 90%, 45%);
  --info-bg: hsl(220, 100%, 97%);

  --muted: hsl(0, 0%, 48%);
  --muted-1: hsl(0, 0%, 44%);

  --border: hsl(0, 0%, 75%);
  --border-light: hsl(0, 0%, 90%);

  --focus: hsl(220, 90%, 45%);
}

[data-theme="dark"] {
  --primary: hsl(255, 70%, 70%);

  --background: hsl(0, 0%, 0%);
  --background-t: hsla(0, 0%, 0%, 0.4);
  --background-1: hsl(0, 0%, 6%);
  --background-2: hsl(0, 0%, 9%);
  --background-3: hsl(0, 0%, 12%);
  --background-t-3: hsla(0, 0%, 20%, 0.8);

  --foreground: hsl(0, 0%, 95%);
  --foreground-1: hsl(0, 0%, 80%);
  --foreground-2: hsl(0, 0%, 75%);

  --success-text: hsl(160, 100%, 35%);
  --success-border: hsl(160, 100%, 45%);
  --success-bg: hsl(160, 100%, 10%);

  --danger-text: hsl(0, 100%, 30%);
  --danger-border: hsl(0, 100%, 45%);
  --danger-bg: hsl(0, 100%, 10%);

  --warning-text: hsl(32, 100%, 35%);
  --warning-border: hsl(32, 100%, 45%);
  --warning-bg: hsl(32, 100%, 10%);

  --info-text: hsl(220, 100%, 35%);
  --info-border: hsl(220, 100%, 45%);
  --info-bg: hsl(220, 100%, 10%);

  --muted: hsl(0, 0%, 64%);
  --muted-1: hsl(0, 0%, 68%);
  --border: hsl(0, 0%, 30%);
  --border-light: hsl(0, 0%, 15%);

  --focus: hsl(220, 100%, 45%);
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
}

input:not([type="checkbox"]),
select,
textarea {
  min-height: 2.5rem;
}

.container {
  @apply mx-auto px-2 md:px-4 lg:px-6 max-w-none;
}

.gap {
  @apply gap-4 md:gap-8 lg:gap-12 xl:gap-16;
}

.display,
.h1,
.h2,
.h3 {
  @apply font-semibold tracking-tight;
}

.display {
  @apply text-[2.5rem] sm:text-6xl xl:text-7xl text-balance !leading-[1.1];
}

.h1 {
  @apply text-3xl sm:text-4xl xl:text-5xl text-balance !leading-[1.1];
}

.h2 {
  @apply text-2xl xl:text-3xl !leading-[1.1];
}

.h3 {
  @apply text-xl xl:text-2xl !leading-tight;
}

.link {
  @apply inline-flex hover:underline;
}

.joint {
  @apply whitespace-nowrap;
}
